# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Balls8.java
images/116289928-the-old-dark-wooden-boards-cracked-black-wood-texture.jpg
images/ball.jpg
images/box.jpg
images/box2.jpg
images/box3.jpg
images/images.jfif
images/igold.jpg
images/igold2.jpg
images/igold3.jpg
images/mWBsC7S.jpg
images/rballs.jpg
images/realistic-gold-metal-sphere-golden-ball-vector-23773500.jpg
